---
import { siteConfig } from "../config/site";
---

<footer class="site-footer">
  <div class="container footer-inner">
    <div>
      <p class="footer-title">{siteConfig.name}</p>
      <p>{siteConfig.footerNote}</p>
    </div>
    <div class="footer-links">
      <a href={siteConfig.competitionRulesUrl}>Competition Rules</a>
      <a href={siteConfig.competitionDiscordUrl}>Discord</a>
      <a href={siteConfig.promoVideoUrl}>Promo Video</a>
    </div>
  </div>
</footer>
